@import "../index.css";

.blog-card-page {
    background-color: var( --text);
    border-radius: 10px;
    width :42%;
 }
              
 .blog-card-page .blog-content button {
    background-color: var(--forminput);
    border: none;
    border-radius: 9px;
 }
 .form-control  {
   width: 100%;
 }
 
.single-blog-card h3 {
font-size: 24px;
font-weight: 600;
color:var(--product-title);
} 
.single-blog-card p {
   font-size: 14px;
   color:var(--text-description );
} 
   
.arrow-icons {
   width:10px;
}
