@import "../index.css";

.compare-products-card  {
    padding: 20px 24px;
    background-color: var(--text);
    border-radius: 10px;
}
.compare-products-card .cross ,.wishlist-card .cross {
    width: 15px;
    padding: 3px;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
.compare-image  {
    width: 89%;
    object-fit: contain;
}
.Products-wrapper {
    padding: 0px 10rem;
}
.compare-products-card .compare-product-detail .title ,.wishlist-card .title {
    font-size: 15px;
    line-height: 
    22px;
    right: 15px;
    font-weight: 500;
    color: var(--product-title);
}
.compare-products-card .compare-product-detail .price ,.wishlist-card .price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.compare-products-card .product-detail {
    padding: 10px 0px ;
    border-top: 2px solid var(--color-f5f5f7);
}
.wislist-card-wrapper{
    display: grid;
    grid-template-columns: repeat(4,20%);
}
.wishlist-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.2);
  }