@import "../index.css";

.contact-wrapper  {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(171, 180, 239, 0.23)
}

.contact-wrapper h3{
    font-size: 21px;
    padding: 1rem;
    line-height: 35px;
    text-align: left;
    font-weight: 500;
}

.input-wrapper {
    padding: 0rem 15rem;
    height: 0px;
}
.contact-wrapper ul {
    list-style: none;
}
.contact-info {
    padding-bottom: 12rem;
    padding-right: 8rem;
}
  