
@import '../index.css';



/* Set the background image size to cover the entire viewport */
.carousel-item {
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 1.5vh);
  background-color: rgba(255, 255, 255, 0.5); 

}

/* Center the content of the carousel items vertically */
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Customize the carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  border-radius: 50%; 
  background-color: blue; 
  width: 40px; 
  height: 40px; 
}


/* Center the carousel control buttons vertically */
.carousel-control-prev,
.carousel-control-next {
  top: calc(50% - 20px); 
}

/* Add opacity to the carousel items */
.carousel-item {
  position: relative;
}

.carousel-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); 
  opacity: 1; 
  transition: opacity 0.3s ease-in-out; 
}

/* Move the carousel indicators below the text */
/* Move the carousel indicators below the text */
.carousel-indicators {
  position: absolute;
  bottom: 30%;
  margin-bottom: 20px; 
}


/* Style the carousel indicators as needed */
.carousel-indicators button {
  width: 12px; 
  height: 12px; 
  border-radius: 50%; 
  background-color: rgba(255, 255, 255, 0.5); 
  margin: 0 5px; 
  transition: background-color 0.3s ease-in-out; 
}

/* Style the active indicator */
.carousel-indicators .active {
  background-color: var(--text); 
}

.home-wrapper-2 {
  background-color : var(--wrapper);
}

.services {
  gap : 1rem ;
}

/*homecard*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card h3 {
  margin: 0;
}

.card p {
  margin-top: 10px;
}

.card.expanded {
  height: auto;
  background-color: var( --card-color );
}

.card.expanded p {
  margin-top: 10px;
}

.card-wrapper {
  background-color: var(  --text );
  padding :15px ;
}


/* blogCard*/
.card-image{
  height: auto;
}
.blog-card{
   background-color: var( --text);
   border-radius: 10px;
   width :18rem;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
/* product card-------------------------------------------------*/
.product-card { border-radius: 15px;
  background-color: var(--text);
  padding : 15px;
}
.product-card .product-detail .brand {
  font-size: 13px;
}
.product-card .product-detail h5 {
  color : var(--product-title) ;
  font-size: 15px;
}

.product-card .product-detail p {
  font-size: 16px;
  color : var(--product-title) ;

}
.position-bar {

  top:12% ;
visibility: hidden; 
 overflow: hidden;
 transition: right 0.3s ;

}
.product-card:hover .position-bar {
right :0.3rem;
  visibility: visible;
  overflow: visible;
}
.wishList {
  right :15px;
  top:5% ;
}

.product-card .product-images {
  height: 170px;
}

.product-card .product-images img {
  object-fit: contain;
}
/*special product ------------------------------*/
.special-product-card {
  background-color: var(--text);
  padding-right: 0.6rem;
  border-radius: 0.5rem;
}
.special-product-card .special-product-image {
 padding: 1rem;;
}

.special-product-card .special-product-image img{
  width: 260px;
  height: 150px;
  
}
.special-product-card .special-card-info{
  margin-top: 1rem;
 }
 .special-product-card .special-card-info {
  padding: 0px 1.5rem;
 }
 .special-product-card .button-addtocart {
  margin: 10px 0px;
 }
 .title {
  font-size: 0.9rem;
  font-weight:600;
 }
/*--------famous Card section*/
.famous-card {
  position: relative;
  z-index: 2;
  transition:transform 0.3s;
}
.famous-content {
  position: absolute;
  top: 3%;
  left: 10%;
  line-height: 0.5rem;
}
.famous-text {
  font-size: 0.8rem;
}
.famous-title {
  text-align: center;
}
.shadow-container {
  position: relative;
  overflow: hidden;
}
.shadow-container::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.1);
z-index: 0;
}
.famous-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}