   
   
:root {
    --header-color : #12161f ;
     --light-black : #282828  ;
  
  }
  
  body {
    margin: 0;
    padding : 0 ;
    box-sizing : border-box;
    background-color : var(--light-black );
    font-family: 'Rubik', sans-serif;
  }
  
  a {
   display : inline-block ;

  }

   /*-------------header------------*/
    .bgd-color {
    background-color : var( --header-color ) ;

    }
   .header-top a {
    font-size:14px;
    font-weight:700;
    text-color : #fff;
  }
  
  