   
   
:root {
  --header-color : #181e2d ;
  --light-black : #282828  ;
  --border : #808080 ;
  --light-bleu-twitter: #1DA1F2;
  --bleu : #1877F2;
  --bleu-nav : :#ddd ;
  --white-somke: #ccc ;
  --light-bleu :#f7f7f7  ;
  --main-nav :#2874f0 ;
  --text : #fff ;
  --wrapper : #f5f5f7;
  --box-shadow : #000001a ;
  --card-color :#f0f0f0 ;
  --product-title : #1c1c1b ;
  --product :#777777 ;
  --brand : #bf4800 ;
  --forminput :#febd69;
  --iconscolor :#f2f2f2;
  --bg-light : #f8f9fa ;
  --bg-info : #0dcaf0;
  --text-description :#777777;
  --color-f5f5f7 :#f5f5f7;
}

* {
  margin: 0;
  padding : 0 ;
  box-sizing : border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  background-color : var(--light-bleu );
}
a {
 text-decoration : none ;
 display : inline-block ;
}

.section-title {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  color: var(--header-color);
  margin-bottom: 2rem;
}
.home-wrapper-2 {
  background-color : var(--wrapper);
}
 /*-------------buttons------------*/

.btn {
  background-color: var(--forminput);
  border: none;
  border-radius: 9px;
}
.btn:hover {
  background-color: var(--main-nav);
  color: white;
}
 /*-------------forms------------*/

.form-control {
  background-color: var(--color-f5f5f7 );
  border-radius: 10px;
  border-color: transparent;
}

 /*-------------fonts------------*/

 .font-Baskerville {
  font-family: 'Libre Baskerville', serif;

 }
 /*-------------hover effect for cards------------*/


 .shadow-container {
  position: relative;
  overflow: hidden;
}
.shadow-container::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(121, 120, 120, 0.1);
z-index: 0;
}

 /*-------------header------------*/
  .bgd-color {
    background: linear-gradient(to buttom, #181e2d, var(  --text ));
  
  }

  .bgtop-color {
    background : var(--white-somke) ;
  }
  .custom-very-small{
    font-size : 0.9rem ;
  }

  .custom-very-small a {
    color : var(--light-black );
  }
  .custom-border {
    border-bottom: 1px solid var(--border); 
  }
 .twitter-icons{
  color : var(--light-bleu-twitter);
 }
 .facebook-icons {
  color : var(--bleu);
 }
 .main-navbar{
  border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
  background-color: var(--header-color  );
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
  color: var(  --text );
}
.main-navbar .top-navbar .nav-link{
  color: var(  --text );
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
  padding: 0px 0px;
  border-radius: 0px;
  z-index: 5000;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar{
  padding: 0px;
  background-color: var(--bleu-nav );
}
.main-navbar .navbar .nav-item .nav-link{
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link{
      font-size: 12px;
      padding: 8px 10px;
  }
}

