   
   
:root {
  --header-color : #12161f ;
   --light-black : #282828  ;
   --border : #808080 ;


}

* {
  margin: 0;
  padding : 0 ;
  box-sizing : border-box;
  background-color : var(--light-black );
  font-family: 'Rubik', sans-serif;
}

a {
 text-decoration : none ;
 display : inline-block ;

}

 /*-------------header------------*/
  .bgd-color {
  background-color : var( --header-color ) ;

  }
  .custom-very-small{
    font-size : 0.9rem ;
  }
  .custom-border {
    border-bottom: 1px solid var(--border); 
  }
